<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.osfans.trime">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".utils.TrimeApplication"
        android:allowBackup="false"
        android:icon="@drawable/icon"
        android:label="@string/ime_name"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/PreferenceTheme">
        <activity
            android:name=".ui.HelpNFeedbackActivity"
            android:theme="@style/PreferenceTheme"/>
        <activity android:name=".ui.AboutActivity"
            android:theme="@style/PreferenceTheme"/>

        <service
            android:name=".ime.Trime"
            android:label="@string/ime_name"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

        <activity
            android:name=".ui.PrefActivity"
            android:label="@string/ime_name"
            android:theme="@style/PreferenceTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>